.slick-dots {
    position: absolute;
    bottom: 10px;
}

.slick-dots li {
    transform: scale(2);
}

header .fa-user {
    margin-right: 5px;
    color: #fff;
}

header .user-link {
    text-transform: capitalize;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
}

html,
body {
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1100px;
}

footer .wrapper {
    padding: 10px;
}

.product_image_wrapper {
    width: 500px;
}
.bck_b_dark {
    clear: both;
}

.card_item_wrapper.grid_bars > div:first-child {
    display: flex;
    align-items: center;
    border: solid 1px #e6e6e6;
    border-right: 0;
}
.card_item_wrapper.grid_bars .image {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .slick-dots {
        transform: scale(0.7);
    }
    .slick-dots li {
        transform: scale(2);
    }
    .container,
    .wrapper {
        display: block !important;
        width: 100% !important;
    }
    .container .left,
    .container .right,
    .wrapper .right,
    .wrapper .left {
        display: block !important;
        width: 100% !important;
    }
    /*********************
    *        HEADER      *
    **********************/
    header .logo,
    header .container .right .top,
    header .container .right .bottom {
        text-align: center;
    }
    header .logo {
        padding: 5px 0;
    }
    header .container .right .top {
        border-top: 1px solid #ffffff;
    }
    /*********************
    *        FOOTER      *
    **********************/
    footer .wrapper h2 {
        text-align: center;
    }
    footer .wrapper .left:last-child div {
        text-align: center;
    }
    footer .business_nfo {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
    }
    footer .business_nfo .tag {
        width: 300px;
    }
    /*****************************
    *        FEATURED IMAGE      *
    ******************************/
    .featured_container .featured_action {
        top: 40%;
        left: 1%;
        right: 1%;
    }
    .featured_container .featured_action .tag {
        margin: 0 auto;
        font-size: 60px;
    }
    .featured_container .featured_action .tag.low_title {
        margin: 0 auto;
        margin-top: 5px;
        font-size: 32px;
    }
    .link_default {
        margin: 0 auto;
        margin-top: 5px;
    }
    /********************
    *        CARDS      *
    *********************/
    .card_wrapper {
        margin: 0 auto;
        max-width: 600px;
    }
    .card_item_wrapper {
        width: 100%;
        width: 300px;
        margin: 0 auto;
    }
    /*****************************
    *        HOME PROMOTION      *
    ******************************/
    .home_promotion .home_promotion_img {
        padding: 20% 20px;
    }
    .home_promotion .tag.title {
        font-size: 35px;
    }
    .home_promotion .tag.low_title {
        font-size: 25px;
    }
    /*******************
    *        SHOP      *
    ********************/
    .shop_wrapper {
        display: block;
    }
    .shop_wrapper .left {
        padding: 10px;
    }
    .card_block_shop {
        margin: 0 auto;
        max-width: 600px;
    }
    .shop_wrapper .card_item_wrapper {
        width: 300px;
        overflow: hidden;
    }
    .shop_wrapper .card_item_wrapper.grid_bars {
        width: 100%;
    }
    .product_detail_wrapper {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        padding: 10px;
    }
    .product_detail_wrapper .right {
        clear: both;
    }
    .product_image_wrapper {
        width: auto;
    }
    .product_detail_wrapper .product_image_container {
        padding-right: 0;
    }
    .page_container .container {
        padding: 0 10px;
    }
    .page_container {
        padding-top: 160px;
    }
    /*************************
    *        USER/ADMIN      *
    **************************/
    .user_container .user_left_nav .links a {
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    /*******************
    *        SHOP      *
    ********************/
    .card_item_wrapper.grid_bars {
        display: block;
    }
    .card_item_wrapper.grid_bars .image {
        width: auto;
        border-top: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }
    .card_block_shop {
        width: 300px;
    }

    .card_item_wrapper.grid_bars > div:first-child {
        display: block;
        border: 0;
    }
    /*****************************
    *        REGISTER/LOGIN      *
    ******************************/
    .register_login_container {
        display: block;
        text-align: center;
    }
    /***********************
    *        REGISTER      *
    ************************/
    .form_block_two {
        display: block;
    }
    .form_block_two .block:nth-child(1) {
        padding-right: 0;
    }
    .form_block_two .block:nth-child(2) {
        padding-left: 0;
    }
    /*************************
    *        USER/ADMIN      *
    **************************/
    .user_container .links {
        display: none;
    }
    .user_container .links.active {
        display: block;
    }
    .user_container h2.switch-visiblity{
        position: relative;
        font-size: 30px;
    }
    .user_container h2.switch-visiblity::after {
        content: ">";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        transform: rotate(90deg);
    }
    .user_container h2.switch-visiblity.active::after {
        content: "<";
    }
    .user_container {
        display: block;
    }
    .user_container .user_left_nav {
        max-width: 300px;
        margin: 0 auto;
        border-right: 0;
        margin-bottom: 15px;
    }
    .user_container .user_left_nav .links a {
        width: 100%;
    }
    .user_container .user_right {
        padding: 0;
        max-width: 300px;
        margin: 0 auto;
    }
    .user_product_block {
        display: block;
    }
    .user_product_block .item .image {
        float: left;
        width: 100px;
    }
    .user_product_block .item.btn {
        width: auto;
    }
    .user_product_block .cart_remove_btn {
        margin-top: 10px;
        text-align: center;
        display: block;
    }
    td,
    th {
        padding: 8px 4px;
        font-size: 15px;
    }
    /********************
    *        OTHER      *
    *********************/
    .dropzone_box {
        float: none;
        width: auto;
    }
    .admin_category_wrapper .admin_two_column {
        display: block;
    }
    .admin_category_wrapper .brands_container {
        margin-right: 0;
    }
    .admin_category_wrapper .brands_container .category_item {
        width: auto;
    }
}